/*------------------------------------*/
/*  COLORS  */
/*------------------------------------*/
$color-primary: #b71d1d;
$color-primary-hover: #b71d1d;
$color-text: #000426;
$color-gray: rgba(0, 4, 38, 0.5);
$color-background: #eee;
$color-success: #1e7f4a;

/*------------------------------------*/
/*  FONTS  */
/*------------------------------------*/
$font-primary: "Roboto", sans-serif;
