* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $color-text;
}
